{#
| Variable                        | Type     | Description                                                                  |
|---------------------------------|----------|------------------------------------------------------------------------------|
| component                       | object   | Contains merchant settings for fields from twilight.json `component` section |
| component.banners               | object[] | list of banners                                                              |
| component.banners[].image       | string   |                                                                              |
| component.banners[].url         | string   |                                                                              |
| component.banners[].title       | ?string  |                                                                              |
| component.banners[].description | ?string  |                                                                              |
| position                        | int      | Sorting number start from zero                                               |
#}

<section class="luxe-section container luxe-banners">
    <div class="luxe-banners__grid {{ component.banners|length <= 3 ? 'grid-cols-' ~ component.banners|length : 'grid-cols-3' }}">
        {% for index, banner in component.banners %}
            {% set bimg = banner.image|default(banner['banners.image']|default('')) %}
            {% set bhref = banner.url|default(banner['banners.url']|default('#')) %}
            {% if bhref is iterable and bhref|length > 0 %}
              {% set _bf = bhref|first %}
              {% set bhref = _bf.url is defined ? _bf.url : (_bf is iterable ? '#' : _bf) %}
            {% elseif bhref.url is defined %}
              {% set bhref = bhref.url %}
            {% endif %}
            {% if bhref is iterable %}{% set bhref = '#' %}{% endif %}
            <a href="{{ bhref|default('#') }}" class="luxe-banner-item" style="background-image: url('{{ bimg|e('html_attr') }}')">
                <article class="luxe-banner-item__content">
                    <h3 class="luxe-banner-item__title">{{ banner.title|default(banner['banners.title']|default('')) }}</h3>
                    <p class="luxe-banner-item__desc">{{ banner.description|default(banner['banners.description']|default('')) }}</p>
                </article>
            </a>
        {% endfor %}
    </div>
</section>
