{#
| Variable                       | Type     | Description                                                                  |
|--------------------------------|----------|------------------------------------------------------------------------------|
| component                      | object   | Contains merchant settings for fields from twilight.json `component` section |
| component.slides[].image       | string   | Image url                                                                    |
| component.slides[].title       | ?string  |                                                                              |
| component.slides[].description | ?string  |                                                                              |
| component.slides               | object[] | list of slides                                                               |
| position                       | int      | Sorting number start from zero                                               |
#}
<section class="luxe-hero-slider">
    <salla-slider
      id="main-slider-{{ position }}"
      auto-play
      static-when-single
      {{ component.slides|default([])|length > 1 ? '' : 'show-controls="false"' }}
      type="fullwidth">
        <div slot="items">
            {% for slide in component.slides|default([]) %}
                {% set bg = slide.image|default(slide['slides.image']|default('')) %}
                {% if bg %}
                {% set ttl = slide.title|default(slide['slides.title']|default('')) %}
                {% set desc = slide.description|default(slide['slides.description']|default('')) %}
                {% set no_overlay = slide.without_overlay|default(slide['slides.without_overlay']|default(false)) %}
                <div class="swiper-slide luxe-slide">
                    <div style="background-image: url('{{ bg|e('html_attr') }}');"
                         class="{{ no_overlay ? '' : 'luxe-slide__overlay' }} luxe-slide__bg"></div>
                    <div class="luxe-slide__content">
                        <div class="luxe-slide__text">
                            <h2 data-swiper-parallax="-500">{{ ttl }}</h2>
                            {% if desc %}
                            <p data-swiper-parallax="-300">{{ desc }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </salla-slider>
</section>
