{#
| Variable    | Type   | Description                                                      |
|-------------|--------|------------------------------------------------------------------|
| image       | string | Image url                                                        |
| url         | string | Link url                                                         |
| title       | string | Section title                                                    |
| link_text   | String | Link title                                                       |
| is_opacity  | Bool   | Should set overlay on the background or not                      |
| position    | Int    | Sorting number start from zero                                   |
#}

<section class="luxe-section luxe-section--parallax luxe-parallax" style="background-image: url('{{ component.image }}');">
    <div class="luxe-parallax__overlay" style="opacity: {{ component.is_opacity ? '0.6' : '0' }}"></div>
    <div class="luxe-container luxe-parallax__content">
        {% if component.title %}
            <h2>{{ component.title }}</h2>
        {% endif %}
        {% if component.url and component.link_text %}
            <a href="{{ component.url }}" class="btn btn--primary">{{ component.link_text }}</a>
        {% endif %}
    </div>
</section>
